{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&display=swap" rel="stylesheet">
  <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
  <script src="{% static 'js/myjs.js' %}"></script>
  <title>Post Name</title>

</head>
<body>
    <div class="nav-wrapper">
        <div class="dots-wrapper">
            <div id="dot-1" class= "browser-dot"></div>
            <div id="dot-2" class= "browser-dot"></div>
            <div id="dot-3" class= "browser-dot"></div>
        
        </div>

        <ul id="navigation">
            <li><b><a href="#">Contact</a></b></li>
            
        </ul>
    </div> 
  
</body>
</html>